In [2]:
# Set up
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt # plotting
from sklearn import metrics

from sklearn.model_selection import train_test_split # splitting data
from sklearn.metrics import mean_squared_error, r2_score # for evaluating

# Our regressors
import statsmodels.api as sm 
import statsmodels.formula.api as smf # linear modeling (OLS and NBR)
from sklearn.cross_decomposition import PLSRegression #PLS
from sklearn.neighbors import KNeighborsRegressor  #KNN
from sklearn.linear_model import LinearRegression  #OLS Maybe
from sklearn.linear_model import Ridge #RR

# For Feature Selection
from sklearn.model_selection import GridSearchCV     # for grid search
from sklearn.pipeline import make_pipeline           # for making pipelines
from sklearn.preprocessing import MinMaxScaler       # scaling data
from sklearn.feature_selection import SelectKBest, chi2
from sklearn.feature_selection import SelectPercentile
from sklearn.feature_selection import VarianceThreshold
from sklearn.preprocessing import PolynomialFeatures # Add a polynomial transformation to the pipeline

import warnings
warnings.filterwarnings('ignore')

%matplotlib inline

In [4]:
# Loading Data
assessment = pd.read_csv("data/assessment_filtered.csv")
#studentAssessment= pd.read_csv("data/studentAssessment_filtered_AA.csv")
#studentInfo = pd.read_csv("data/studentInfo_filtered.csv")
#studentVle = pd.read_csv("data/studentVle_filtered.csv")
#vle = pd.read_csv("data/vle_filtered.csv")

In [5]:
assessment.head()

  code_module code_presentation  id_assessment assessment_type   date  weight
0         AAA             2014J           1758             TMA   19.0    10.0
1         AAA             2014J           1759             TMA   54.0    20.0
2         AAA             2014J           1760             TMA  117.0    20.0
3         AAA             2014J           1761             TMA  166.0    20.0
4         AAA             2014J           1762             TMA  215.0    30.0