In [1]:
# Set up
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt # plotting
from sklearn import metrics

from sklearn.model_selection import train_test_split # splitting data
from sklearn.metrics import mean_squared_error, r2_score # for evaluating

# Our regressors
import statsmodels.api as sm 
import statsmodels.formula.api as smf # linear modeling (OLS and NBR)
from sklearn.cross_decomposition import PLSRegression #PLS
from sklearn.neighbors import KNeighborsRegressor  #KNN
from sklearn.linear_model import LinearRegression  #OLS Maybe
from sklearn.linear_model import Ridge #RR

# For Feature Selection
from sklearn.model_selection import GridSearchCV     # for grid search
from sklearn.pipeline import make_pipeline           # for making pipelines
from sklearn.preprocessing import MinMaxScaler       # scaling data
from sklearn.feature_selection import SelectKBest, chi2
from sklearn.feature_selection import SelectPercentile
from sklearn.feature_selection import VarianceThreshold
from sklearn.preprocessing import PolynomialFeatures # Add a polynomial transformation to the pipeline

import warnings
warnings.filterwarnings('ignore')

%matplotlib inline

In [4]:
# Loading Data
assessment = pd.read_csv("data_CCC_2014J/assessments_CCC_2014J.csv")
studentAssessment= pd.read_csv("data_CCC_2014J/studentAssessment_CCC_2014J.csv")
studentInfo = pd.read_csv("data_CCC_2014J/studentInfo_CCC_2014J.csv")
studentVle = pd.read_csv("data_CCC_2014J/studentVle_CCC_2014J.csv")
vle = pd.read_csv("data_CCC_2014J/vle_CCC_2014J.csv")
studentRegistration_filtered  = pd.read_csv("data_CCC_2014J/studentRegistration_CCC_2014J.csv")

In [24]:
studentInfo = studentInfo[studentInfo.code_module == 'CCC']

,code_module,code_presentation,id_student,gender,region,highest_education,imd_band,age_band,num_of_prev_attempts,studied_credits,disability,final_result
0,CCC,2014J,23698,F,East Anglian Region,A Level or Equivalent,50-60%,0-35,0,120,N,Pass
1,CCC,2014J,25261,F,Scotland,HE Qualification,40-50%,0-35,0,60,N,Withdrawn
2,CCC,2014J,27116,M,Yorkshire Region,HE Qualification,70-80%,0-35,0,120,N,Distinction
3,CCC,2014J,28787,M,South East Region,Lower Than A Level,80-90%,35-55,0,60,N,Pass
4,CCC,2014J,28952,F,Yorkshire Region,Lower Than A Level,60-70%,0-35,0,60,N,Withdrawn
5,CCC,2014J,29411,M,East Midlands Region,A Level or Equivalent,80-90%,0-35,0,150,N,Withdrawn
6,CCC,2014J,29420,M,Wales,A Level or Equivalent,70-80%,0-35,0,30,N,Pass
7,CCC,2014J,29639,M,North Region,Lower Than A Level,NaN,0-35,0,30,N,Pass
8,CCC,2014J,30096,M,East Anglian Region,HE Qualification,90-100%,0-35,0,60,N,Distinction
9,CCC,2014J,30850,F,Scotland,HE Qualification,60-70%,35-55,0,120,N,Distinction
10,CCC,2014J,31161,M,South Region,Post Graduate Qualification,90-100%,55<=,0,105,N,Distinction
11,CCC,2014J,34068,M,Scotland,Lower Than A Level,50-60%,0-35,0,30,N,Withdrawn
12,CCC,2014J,35355,M,Wales,Lower Than A Level,0-10%,35-55,0,30,N,Withdrawn
13,CCC,2014J,35508,M,South West Region,A Level or Equivalent,90-100%,0-35,0,30,N,Pass
14,CCC,2014J,37652,F,London Region,HE Qualification,20-30%,35-55,0,50,N,Distinction
15,CCC,2014J,42746,F,South Region,HE Qualification,50-60%,35-55,0,60,N,Distinction
16,CCC,2014J,46705,M,Ireland,HE Qualification,NaN,35-55,0,60,N,Fail
17,CCC,2014J,48635,M,South Region,HE Qualification,90-100%,0-35,0,120,N,Withdrawn
18,CCC,2014J,51576,F,London Region,Lower Than A Level,10-20%,0-35,1,60,N,Withdrawn
19,CCC,2014J,53300,M,West Midlands Region,A Level or Equivalent,90-100%,0-35,0,270,N,Distinction
20,CCC,2014J,54062,M,East Anglian Region,A Level or Equivalent,30-40%,0-35,0,60,N,Withdrawn
21,CCC,2014J,60809,M,South East Region,Lower Than A Level,90-100%,0-35,0,120,N,Pass
22,CCC,2014J,61227,F,East Anglian Region,Lower Than A Level,80-90%,0-35,0,30,Y,Pass
23,CCC,2014J,61236,M,South West Region,HE Qualification,50-60%,35-55,0,110,N,Withdrawn
24,CCC,2014J,63371,M,Ireland,Lower Than A Level,NaN,0-35,0,30,N,Pass
25,CCC,2014J,67685,M,South Region,A Level or Equivalent,10-20%,0-35,0,180,N,Withdrawn
26,CCC,2014J,69494,F,Yorkshire Region,No Formal quals,20-30%,0-35,1,150,N,Withdrawn
27,CCC,2014J,70214,M,Wales,Lower Than A Level,70-80%,0-35,0,90,N,Withdrawn
28,CCC,2014J,70495,M,Scotland,Lower Than A Level,50-60%,0-35,0,60,N,Pass
29,CCC,2014J,71723,M,North Western Region,A Level or Equivalent,10-20%,0-35,0,30,N,Fail
...,...,...,...,...,...,...,...,...,...,...,...,...
2468,CCC,2014J,2598961,M,East Anglian Region,HE Qualification,20-30%,0-35,0,30,N,Distinction
2469,CCC,2014J,2599883,F,Scotland,A Level or Equivalent,30-40%,0-35,0,240,N,Distinction
2470,CCC,2014J,2609069,M,London Region,A Level or Equivalent,80-90%,35-55,0,30,N,Withdrawn
2471,CCC,2014J,2612725,M,South Region,A Level or Equivalent,80-90%,0-35,0,120,N,Withdrawn
2472,CCC,2014J,2613225,M,Scotland,A Level or Equivalent,80-90%,0-35,0,30,N,Withdrawn
2473,CCC,2014J,2613746,M,Scotland,A Level or Equivalent,0-10%,0-35,0,60,N,Withdrawn
2474,CCC,2014J,2614093,M,South Region,A Level or Equivalent,80-90%,35-55,0,180,N,Pass
2475,CCC,2014J,2619025,M,West Midlands Region,A Level or Equivalent,20-30%,0-35,0,60,Y,Pass
2476,CCC,2014J,2619472,M,South Region,Lower Than A Level,40-50%,0-35,0,120,Y,Withdrawn
2477,CCC,2014J,2620661,M,North Western Region,A Level or Equivalent,0-10%,35-55,0,30,N,Pass
2478,CCC,2014J,2622441,M,London Region,Lower Than A Level,30-40%,35-55,0,120,N,Pass
2479,CCC,2014J,2622627,M,Scotland,HE Qualification,30-40%,0-35,0,180,Y,Withdrawn
2480,CCC,2014J,2623427,M,Scotland,Lower Than A Level,10-20%,35-55,0,60,N,Fail
2481,CCC,2014J,2627491,M,South West Region,Lower Than A Level,90-100%,0-35,0,60,N,Withdrawn
2482,CCC,2014J,2630469,M,South East Region,HE Qualification,80-90%,35-55,0,75,N,Withdrawn
2483,CCC,2014J,2633981,M,South West Region,A Level or Equivalent,60-70%,0-35,1,60,Y,Withdrawn
2484,CCC,2014J,2637000,M,Wales,A Level or Equivalent,80-90%,0-35,0,120,N,Withdrawn
2485,CCC,2014J,2637912,M,Scotland,HE Qualification,10-20%,35-55,0,30,N,Fail
2486,CCC,2014J,2647893,M,South West Region,HE Qualification,90-100%,35-55,0,30,N,Distinction
2487,CCC,2014J,2650741,M,South Region,Lower Than A Level,70-80%,0-35,0,30,N,Fail
2488,CCC,2014J,2655763,M,East Anglian Region,A Level or Equivalent,80-90%,35-55,0,45,N,Fail
2489,CCC,2014J,2658314,F,South Region,Lower Than A Level,80-90%,0-35,0,30,N,Pass
2490,CCC,2014J,2668106,M,London Region,A Level or Equivalent,30-40%,35-55,0,30,N,Distinction
2491,CCC,2014J,2672114,M,North Region,Lower Than A Level,NaN,35-55,0,90,N,Withdrawn
2492,CCC,2014J,2677097,F,Scotland,A Level or Equivalent,40-50%,0-35,0,120,N,Withdrawn
2493,CCC,2014J,2681198,M,East Anglian Region,Lower Than A Level,70-80%,35-55,1,90,N,Withdrawn
2494,CCC,2014J,2686712,M,West Midlands Region,A Level or Equivalent,60-70%,35-55,0,60,N,Fail
2495,CCC,2014J,2689013,M,Scotland,Post Graduate Qualification,80-90%,35-55,0,30,N,Withdrawn
2496,CCC,2014J,2691267,F,West Midlands Region,Lower Than A Level,80-90%,35-55,1,60,N,Pass
2497,CCC,2014J,2691861,M,London Region,Lower Than A Level,0-10%,0-35,1,120,N,Fail

In [28]:
#studentAssessment.id_assessment.unique()
#studentAssessment[studentAssessment.id_assessment == 1758]
assessments_score = studentAssessment.pivot_table('score', ['id_student'], 'id_assessment')
assessments_score.head()

id_assessment  24291  24292  24293  24294  24295  24296  24297  24298  24299
id_student
23698           94.0   60.0   69.0   67.0   78.0   93.0   73.0   56.0   80.0
25261            NaN    NaN    NaN    NaN   78.0    NaN    NaN    NaN    NaN
27116           90.0   95.0   92.0   84.0   89.0  100.0   98.0   96.0   96.0
28787            NaN    NaN    NaN    NaN   89.0   60.0   54.0   21.0   44.0
28952           52.0    NaN    NaN    NaN   67.0    NaN    NaN    NaN    NaN

In [8]:
new_assessment = assessment.drop(['code_module', 'code_presentation', 'assessment_type', 'date'], axis=1 )
new_assessment.head()
new_student_assessment = studentAssessment.merge(new_assessment, on='id_assessment', how='left')

In [10]:
new_student_assessment['weighted_score'] = new_student_assessment.score * new_student_assessment.weight
new_student_assessment.head()

new_student_assessment.id_assessment.unique()
assessments_score = new_student_assessment.pivot_table(['weighted_score', 'score'], ['id_student'], 'id_assessment')
assessments_score.head()

              score                                                   \
id_assessment 24291 24292 24293 24294 24295  24296 24297 24298 24299
id_student
23698          94.0  60.0  69.0  67.0  78.0   93.0  73.0  56.0  80.0
25261           NaN   NaN   NaN   NaN  78.0    NaN   NaN   NaN   NaN
27116          90.0  95.0  92.0  84.0  89.0  100.0  98.0  96.0  96.0
28787           NaN   NaN   NaN   NaN  89.0   60.0  54.0  21.0  44.0
28952          52.0   NaN   NaN   NaN  67.0    NaN   NaN   NaN   NaN

              weighted_score                                               \
id_assessment          24291   24292   24293   24294  24295  24296  24297
id_student
23698                  846.0  1320.0  1518.0  1474.0  156.0  651.0  584.0
25261                    NaN     NaN     NaN     NaN  156.0    NaN    NaN
27116                  810.0  2090.0  2024.0  1848.0  178.0  700.0  784.0
28787                    NaN     NaN     NaN     NaN  178.0  420.0  432.0
28952                  468.0     NaN     NaN     NaN  134.0    NaN    NaN


id_assessment  24298   24299
id_student
23698          448.0  8000.0
25261            NaN     NaN
27116          768.0  9600.0
28787          168.0  4400.0
28952            NaN     NaN

In [17]:
mergedScores = studentInfo.merge(assessments_score, on='id_student')
mergedScores.head()

,code_module,code_presentation,id_student,gender,region,highest_education,imd_band,age_band,num_of_prev_attempts,studied_credits,...,"(score, 24299)","(weighted_score, 24291)","(weighted_score, 24292)","(weighted_score, 24293)","(weighted_score, 24294)","(weighted_score, 24295)","(weighted_score, 24296)","(weighted_score, 24297)","(weighted_score, 24298)","(weighted_score, 24299)"
0,CCC,2014J,23698,F,East Anglian Region,A Level or Equivalent,50-60%,0-35,0,120,...,80.0,846.0,1320.0,1518.0,1474.0,156.0,651.0,584.0,448.0,8000.0
1,CCC,2014J,25261,F,Scotland,HE Qualification,40-50%,0-35,0,60,...,NaN,NaN,NaN,NaN,NaN,156.0,NaN,NaN,NaN,NaN
2,CCC,2014J,27116,M,Yorkshire Region,HE Qualification,70-80%,0-35,0,120,...,96.0,810.0,2090.0,2024.0,1848.0,178.0,700.0,784.0,768.0,9600.0
3,CCC,2014J,28787,M,South East Region,Lower Than A Level,80-90%,35-55,0,60,...,44.0,NaN,NaN,NaN,NaN,178.0,420.0,432.0,168.0,4400.0
4,CCC,2014J,28952,F,Yorkshire Region,Lower Than A Level,60-70%,0-35,0,60,...,NaN,468.0,NaN,NaN,NaN,134.0,NaN,NaN,NaN,NaN

In [12]:
studentVle.head()

  code_module code_presentation  id_student  id_site  date  sum_click
0         CCC             2014J      582530   909232   -18          5
1         CCC             2014J      582530   909230   -18          1
2         CCC             2014J      582530   909071   -18          7
3         CCC             2014J      582530   909231   -18          1
4         CCC             2014J      582530   909013   -18         10

In [13]:
new_student_vle = studentVle.merge(vle, on='id_site', how='left')
new_student_vle

new_student_vle = new_student_vle.groupby(['id_student', 'activity_type']).sum()

activity_clicks = new_student_vle.pivot_table('sum_click', ['id_student'], 'activity_type')
activity_clicks.head()

activity_type,forumng,homepage,oucollaborate,oucontent,page,quiz,resource,subpage,url
id_student,,,,,,,,,
23698,63.0,121.0,NaN,4.0,1.0,576.0,42.0,98.0,5.0
25261,506.0,174.0,NaN,43.0,NaN,117.0,36.0,118.0,3.0
27116,407.0,401.0,52.0,269.0,2.0,448.0,104.0,158.0,6.0
28787,123.0,144.0,NaN,10.0,4.0,254.0,25.0,82.0,3.0
28952,6.0,21.0,NaN,2.0,NaN,59.0,2.0,12.0,3.0

In [18]:
mergedActivity= mergedScores.merge(activity_clicks, on='id_student', how='left')
mergedActivity.head()

,code_module,code_presentation,id_student,gender,region,highest_education,imd_band,age_band,num_of_prev_attempts,studied_credits,...,"(weighted_score, 24299)",forumng,homepage,oucollaborate,oucontent,page,quiz,resource,subpage,url
0,CCC,2014J,23698,F,East Anglian Region,A Level or Equivalent,50-60%,0-35,0,120,...,8000.0,63.0,121.0,NaN,4.0,1.0,576.0,42.0,98.0,5.0
1,CCC,2014J,25261,F,Scotland,HE Qualification,40-50%,0-35,0,60,...,NaN,506.0,174.0,NaN,43.0,NaN,117.0,36.0,118.0,3.0
2,CCC,2014J,27116,M,Yorkshire Region,HE Qualification,70-80%,0-35,0,120,...,9600.0,407.0,401.0,52.0,269.0,2.0,448.0,104.0,158.0,6.0
3,CCC,2014J,28787,M,South East Region,Lower Than A Level,80-90%,35-55,0,60,...,4400.0,123.0,144.0,NaN,10.0,4.0,254.0,25.0,82.0,3.0
4,CCC,2014J,28952,F,Yorkshire Region,Lower Than A Level,60-70%,0-35,0,60,...,NaN,6.0,21.0,NaN,2.0,NaN,59.0,2.0,12.0,3.0

In [19]:
studentRegistration_filtered = studentRegistration_filtered[studentRegistration_filtered.code_module == 'CCC']
studentRegistration_filtered['date_unregistration'] = studentRegistration_filtered.date_unregistration.fillna(269)
studentRegistration_filtered = studentRegistration_filtered.drop(['code_module', 'code_presentation'], axis=1 )

studentRegistration_filtered.head()

   id_student  date_registration  date_unregistration
0       23698             -110.0                269.0
1       25261             -114.0                 51.0
2       27116             -156.0                269.0
3       28787              -29.0                269.0
4       28952              -50.0                 12.0

In [23]:
mergedResgistration = mergedActivity.merge(studentRegistration_filtered, on='id_student')
mergedResgistration

,code_module,code_presentation,id_student,gender,region,highest_education,imd_band,age_band,num_of_prev_attempts,studied_credits,...,homepage,oucollaborate,oucontent,page,quiz,resource,subpage,url,date_registration,date_unregistration
0,CCC,2014J,23698,F,East Anglian Region,A Level or Equivalent,50-60%,0-35,0,120,...,121.0,NaN,4.0,1.0,576.0,42.0,98.0,5.0,-110.0,269.0
1,CCC,2014J,25261,F,Scotland,HE Qualification,40-50%,0-35,0,60,...,174.0,NaN,43.0,NaN,117.0,36.0,118.0,3.0,-114.0,51.0
2,CCC,2014J,27116,M,Yorkshire Region,HE Qualification,70-80%,0-35,0,120,...,401.0,52.0,269.0,2.0,448.0,104.0,158.0,6.0,-156.0,269.0
3,CCC,2014J,28787,M,South East Region,Lower Than A Level,80-90%,35-55,0,60,...,144.0,NaN,10.0,4.0,254.0,25.0,82.0,3.0,-29.0,269.0
4,CCC,2014J,28952,F,Yorkshire Region,Lower Than A Level,60-70%,0-35,0,60,...,21.0,NaN,2.0,NaN,59.0,2.0,12.0,3.0,-50.0,12.0
5,CCC,2014J,29411,M,East Midlands Region,A Level or Equivalent,80-90%,0-35,0,150,...,43.0,1.0,13.0,NaN,226.0,9.0,30.0,4.0,-135.0,100.0
6,CCC,2014J,29420,M,Wales,A Level or Equivalent,70-80%,0-35,0,30,...,155.0,NaN,4.0,3.0,365.0,54.0,103.0,8.0,-14.0,269.0
7,CCC,2014J,29639,M,North Region,Lower Than A Level,NaN,0-35,0,30,...,898.0,9.0,486.0,3.0,3033.0,96.0,121.0,8.0,-24.0,269.0
8,CCC,2014J,30096,M,East Anglian Region,HE Qualification,90-100%,0-35,0,60,...,119.0,NaN,11.0,1.0,428.0,82.0,69.0,3.0,-22.0,269.0
9,CCC,2014J,30850,F,Scotland,HE Qualification,60-70%,35-55,0,120,...,441.0,2.0,72.0,1.0,1261.0,44.0,123.0,4.0,-56.0,269.0
10,CCC,2014J,31161,M,South Region,Post Graduate Qualification,90-100%,55<=,0,105,...,922.0,3.0,132.0,1.0,1180.0,98.0,327.0,87.0,-43.0,269.0
11,CCC,2014J,34068,M,Scotland,Lower Than A Level,50-60%,0-35,0,30,...,116.0,NaN,76.0,NaN,322.0,10.0,44.0,1.0,-74.0,108.0
12,CCC,2014J,35355,M,Wales,Lower Than A Level,0-10%,35-55,0,30,...,135.0,1.0,464.0,NaN,289.0,10.0,58.0,2.0,-25.0,199.0
13,CCC,2014J,35508,M,South West Region,A Level or Equivalent,90-100%,0-35,0,30,...,197.0,1.0,116.0,2.0,363.0,89.0,95.0,2.0,-44.0,269.0
14,CCC,2014J,37652,F,London Region,HE Qualification,20-30%,35-55,0,50,...,174.0,NaN,7.0,2.0,491.0,66.0,106.0,18.0,-11.0,269.0
15,CCC,2014J,42746,F,South Region,HE Qualification,50-60%,35-55,0,60,...,500.0,5.0,238.0,NaN,694.0,70.0,150.0,32.0,-108.0,269.0
16,CCC,2014J,46705,M,Ireland,HE Qualification,NaN,35-55,0,60,...,193.0,NaN,37.0,NaN,573.0,141.0,126.0,4.0,-61.0,269.0
17,CCC,2014J,48635,M,South Region,HE Qualification,90-100%,0-35,0,120,...,89.0,3.0,9.0,NaN,421.0,22.0,44.0,3.0,-8.0,12.0
18,CCC,2014J,51576,F,London Region,Lower Than A Level,10-20%,0-35,1,60,...,68.0,NaN,8.0,NaN,53.0,19.0,9.0,3.0,-85.0,73.0
19,CCC,2014J,53300,M,West Midlands Region,A Level or Equivalent,90-100%,0-35,0,270,...,334.0,1.0,181.0,1.0,1127.0,56.0,224.0,6.0,-24.0,269.0
20,CCC,2014J,54062,M,East Anglian Region,A Level or Equivalent,30-40%,0-35,0,60,...,27.0,NaN,NaN,NaN,98.0,2.0,11.0,3.0,-67.0,110.0
21,CCC,2014J,60809,M,South East Region,Lower Than A Level,90-100%,0-35,0,120,...,278.0,4.0,88.0,4.0,1816.0,70.0,118.0,3.0,-24.0,269.0
22,CCC,2014J,61227,F,East Anglian Region,Lower Than A Level,80-90%,0-35,0,30,...,382.0,8.0,502.0,8.0,3194.0,101.0,211.0,2.0,-38.0,269.0
23,CCC,2014J,61236,M,South West Region,HE Qualification,50-60%,35-55,0,110,...,193.0,NaN,83.0,NaN,170.0,23.0,17.0,14.0,-23.0,69.0
24,CCC,2014J,63371,M,Ireland,Lower Than A Level,NaN,0-35,0,30,...,463.0,3.0,51.0,2.0,1644.0,163.0,374.0,26.0,-32.0,269.0
25,CCC,2014J,69494,F,Yorkshire Region,No Formal quals,20-30%,0-35,1,150,...,285.0,NaN,10.0,NaN,778.0,65.0,189.0,11.0,-25.0,177.0
26,CCC,2014J,70214,M,Wales,Lower Than A Level,70-80%,0-35,0,90,...,52.0,1.0,62.0,NaN,189.0,30.0,21.0,2.0,-17.0,33.0
27,CCC,2014J,70495,M,Scotland,Lower Than A Level,50-60%,0-35,0,60,...,289.0,4.0,97.0,2.0,875.0,62.0,121.0,NaN,-52.0,269.0
28,CCC,2014J,71723,M,North Western Region,A Level or Equivalent,10-20%,0-35,0,30,...,103.0,NaN,8.0,NaN,239.0,17.0,45.0,3.0,-65.0,269.0
29,CCC,2014J,72609,F,Wales,Lower Than A Level,50-60%,35-55,0,120,...,713.0,10.0,673.0,1.0,2843.0,92.0,350.0,19.0,-23.0,269.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1968,CCC,2014J,2593689,F,Scotland,A Level or Equivalent,80-90%,35-55,0,90,...,50.0,NaN,NaN,1.0,395.0,9.0,41.0,5.0,-32.0,269.0
1969,CCC,2014J,2593755,M,South West Region,Lower Than A Level,50-60%,0-35,0,30,...,98.0,2.0,3.0,NaN,373.0,29.0,118.0,6.0,-44.0,269.0
1970,CCC,2014J,2593920,F,Yorkshire Region,HE Qualification,60-70%,0-35,0,30,...,138.0,NaN,11.0,4.0,801.0,21.0,94.0,9.0,-137.0,269.0
1971,CCC,2014J,2595204,M,South West Region,Lower Than A Level,30-40%,0-35,0,90,...,196.0,NaN,432.0,NaN,489.0,25.0,101.0,6.0,-46.0,269.0
1972,CCC,2014J,2596553,M,South West Region,Lower Than A Level,10-20%,35-55,0,30,...,168.0,1.0,194.0,2.0,420.0,47.0,112.0,2.0,-128.0,191.0
1973,CCC,2014J,2598631,M,North Region,HE Qualification,20-30%,0-35,0,60,...,52.0,NaN,2.0,NaN,69.0,26.0,32.0,NaN,-16.0,269.0
1974,CCC,2014J,2598961,M,East Anglian Region,HE Qualification,20-30%,0-35,0,30,...,480.0,NaN,449.0,1.0,2648.0,86.0,177.0,81.0,-141.0,269.0
1975,CCC,2014J,2599883,F,Scotland,A Level or Equivalent,30-40%,0-35,0,240,...,305.0,NaN,14.0,NaN,766.0,150.0,157.0,20.0,-95.0,269.0
1976,CCC,2014J,2609069,M,London Region,A Level or Equivalent,80-90%,35-55,0,30,...,11.0,NaN,2.0,NaN,NaN,5.0,9.0,2.0,-15.0,218.0
1977,CCC,2014J,2613746,M,Scotland,A Level or Equivalent,0-10%,0-35,0,60,...,87.0,NaN,16.0,NaN,639.0,13.0,47.0,1.0,-14.0,178.0
1978,CCC,2014J,2614093,M,South Region,A Level or Equivalent,80-90%,35-55,0,180,...,152.0,5.0,22.0,4.0,195.0,34.0,84.0,2.0,-38.0,269.0
1979,CCC,2014J,2619025,M,West Midlands Region,A Level or Equivalent,20-30%,0-35,0,60,...,706.0,1.0,421.0,8.0,1999.0,160.0,272.0,11.0,-78.0,269.0
1980,CCC,2014J,2620661,M,North Western Region,A Level or Equivalent,0-10%,35-55,0,30,...,62.0,NaN,3.0,1.0,256.0,48.0,38.0,5.0,-99.0,269.0
1981,CCC,2014J,2622441,M,London Region,Lower Than A Level,30-40%,35-55,0,120,...,225.0,3.0,203.0,4.0,207.0,109.0,155.0,18.0,-67.0,269.0
1982,CCC,2014J,2622627,M,Scotland,HE Qualification,30-40%,0-35,0,180,...,29.0,5.0,NaN,NaN,91.0,7.0,16.0,2.0,-29.0,122.0
1983,CCC,2014J,2623427,M,Scotland,Lower Than A Level,10-20%,35-55,0,60,...,101.0,NaN,8.0,NaN,207.0,25.0,68.0,4.0,-85.0,269.0
1984,CCC,2014J,2627491,M,South West Region,Lower Than A Level,90-100%,0-35,0,60,...,257.0,NaN,528.0,NaN,217.0,7.0,36.0,2.0,-155.0,187.0
1985,CCC,2014J,2630469,M,South East Region,HE Qualification,80-90%,35-55,0,75,...,15.0,NaN,17.0,NaN,92.0,4.0,11.0,3.0,-35.0,34.0
1986,CCC,2014J,2637000,M,Wales,A Level or Equivalent,80-90%,0-35,0,120,...,48.0,NaN,24.0,NaN,195.0,16.0,13.0,1.0,-58.0,48.0
1987,CCC,2014J,2637912,M,Scotland,HE Qualification,10-20%,35-55,0,30,...,69.0,NaN,5.0,NaN,181.0,27.0,33.0,10.0,-70.0,269.0
1988,CCC,2014J,2647893,M,South West Region,HE Qualification,90-100%,35-55,0,30,...,153.0,NaN,3.0,4.0,418.0,116.0,145.0,8.0,-25.0,269.0
1989,CCC,2014J,2650741,M,South Region,Lower Than A Level,70-80%,0-35,0,30,...,530.0,NaN,242.0,1.0,235.0,78.0,109.0,2.0,-150.0,269.0
1990,CCC,2014J,2655763,M,East Anglian Region,A Level or Equivalent,80-90%,35-55,0,45,...,122.0,NaN,55.0,NaN,235.0,32.0,123.0,8.0,-4.0,269.0
1991,CCC,2014J,2658314,F,South Region,Lower Than A Level,80-90%,0-35,0,30,...,463.0,NaN,25.0,2.0,1367.0,77.0,240.0,8.0,-106.0,269.0
1992,CCC,2014J,2668106,M,London Region,A Level or Equivalent,30-40%,35-55,0,30,...,227.0,NaN,4.0,2.0,954.0,32.0,187.0,12.0,-115.0,269.0
1993,CCC,2014J,2681198,M,East Anglian Region,Lower Than A Level,70-80%,35-55,1,90,...,193.0,9.0,52.0,NaN,148.0,63.0,56.0,7.0,-94.0,142.0
1994,CCC,2014J,2686712,M,West Midlands Region,A Level or Equivalent,60-70%,35-55,0,60,...,238.0,2.0,69.0,NaN,708.0,60.0,87.0,5.0,-15.0,269.0
1995,CCC,2014J,2689013,M,Scotland,Post Graduate Qualification,80-90%,35-55,0,30,...,80.0,NaN,63.0,NaN,297.0,14.0,60.0,1.0,-17.0,128.0
1996,CCC,2014J,2691267,F,West Midlands Region,Lower Than A Level,80-90%,35-55,1,60,...,245.0,NaN,81.0,1.0,684.0,73.0,206.0,13.0,-109.0,269.0
1997,CCC,2014J,2691861,M,London Region,Lower Than A Level,0-10%,0-35,1,120,...,177.0,1.0,1.0,NaN,615.0,46.0,81.0,3.0,-42.0,269.0